# Root
**/backend/**/bin/
**/backend/**/obj/
**/backend/**/.vs/
**/backend/**/appsettings.*.local.json
**/backend/**/secrets.json
**/backend/**/App_Data/media/
*.user
*.suo

# Storefront
storefront/node_modules/
storefront/dist/
storefront/.angular/
storefront/coverage/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
